@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Сброс пароля";
}

<h1>@ViewData["Title"]</h1>

<p>Пожалуйста, проверьте вашу электронную почту и перейдите по ссылке для сброса пароля.</p>


