@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль сброшен";
}

<h2>@ViewData["Title"]</h2>

<p>Ваш пароль был успешно сброшен.</p>

<p>
    <a asp-page="./Login">Войти</a>
</p>
