@{
    ViewData["Title"] = "Панель Администратора";
}

<h1>Панель Администратора</h1>

<!-- Ваша логика и кнопки панели управления -->
<p>
    Добро пожаловать в панель администратора!
</p>

<a href="@Url.Action("VerifiedUsers", "Admin")" class="btn btn-primary">Список верифицированных пользователей</a>
